.button {
  border-radius: 7px;
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 20px 30px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-color);
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: none;
}

.button.primary {
  background-color: var(--primary-color);
}
