
.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.imageContainer {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%;
}