/* Define your theme */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #0070f3;
  --secondary-color: #1a202c;
  --text-color: #2d3748;
  --white: #fff;
}

/* Remove default styles from ul, li, and a tags */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Mobile styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--text-color);
}

/* Tablet styles */
@media (min-width: 768px) {
  /* body {
    background-color: var(--secondary-color);
  } */
}

/* Desktop styles */
@media (min-width: 1024px) {
  /* body {
    background-color: var(--primary-color);
  } */
}