.container {
  background-color: var(--secondary-color);
  color: var(--white);
  margin-top: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem;
}

.author {
  text-align: center;
}

.iconContainer {
  color: var(--white);
}

.iconContainer:hover {
  color: var(--primary-color);
}

.icon {
  height: 2rem;
  width: 2rem;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
