.container {
  background-color: var(--secondary-color);
  color: var(--white);
  margin-top: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem;
}

.media {
  display: flex;
  gap: 1rem;
}

.author {
  text-align: center;
}

.iconContainer {
  color: var(--white);
}

.iconContainer:hover {
  color: var(--terciary-color);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--white);
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
